* {
  margin: 0;
}

.header {
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inter, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  gap: 15px;
  font-size: 20px;
}
.header img {
  height: 65px;
}
