* {
  margin: 0;
}

.header {
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inter, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  gap: 15px;
  font-size: 20px;
}
.header img {
  height: 65px;
}
.header h2 {
  font-weight: 400;
  color: #333;
}
.main {
  font-family: inter, sans-serif;
  gap: 20px;
  margin-top: 100px;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .textbox {
  width: 34%;
  height: 20px;
  font-size: 16px;
  border: 2px solid black; /* A solid green border */
  padding: 10px; /* Space between text and border */
  border-radius: 5px;
  margin-right: 20px;
}
.addbtn {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #090909; /* Green */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 45px;
  width: 10%px;
  margin-bottom: 2px;
}

@media (max-width: 700px) {
  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main .textbox {
    width: 74%;
    height: 20px;
    font-size: 16px;
    border: 2px solid black; /* A solid green border */
    padding: 10px; /* Space between text and border */
    border-radius: 5px;
    margin-bottom: 20px;
  }
}

.ingredient-list {
  color: black;
}
